{% extends 'base.html' %}
{% block title %}博客首页{% endblock %}

{% block content %}
    <hr/>
    {% for article in article_list %}
        <h3>文章标题:&nbsp;&nbsp;<a href="">{{ article.title }}</a></h3>
        {% if article.abstract %}
            &nbsp;&nbsp;<p>{{ article.abstract }}</p>
        {% else %}
            &nbsp;&nbsp;<p>{{ article.body | truncatechars:100 }}</p>
        {% endif %}
        {% if article.img %}
            <div><img src="{{ article.img.url }}" alt="博客插图" width="25%"/></div>
        {% endif %}

        <p>
            <span>作者：{{ article.auth }}</span>
            <span>发表时间：{{ article.create_time }}</span>
            <span>浏览量：{{ article.page_view }}</span>
        </p>
        <hr/>
    {% endfor %}
{% endblock %}

